<form (ngSubmit)="addPin()">
  <ion-item>
    <ion-label position="floating">nombre</ion-label>
    <ion-input type="Name" name="Name" placegolder="Name" [(ngModel)]="pin.Name" required></ion-input>
  </ion-item>

<ion-item>
  <ion-label position="floating">region</ion-label>
  <ion-input type="region" name="region" placegolder="region" [(ngModel)]="pin.region"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">desc</ion-label>
  <ion-input type="desc" name="desc" placegolder="desc" [(ngModel)]="pin.desc"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">imageUrl</ion-label>
  <ion-input type="imageUrl" name="imageUrl" placegolder="imageUrl" [(ngModel)]="pin.imageUrl"></ion-input>
</ion-item>


<ion-button expand="full" type="submit" color="success">Publicar</ion-button>
</form>
