.sent {
    text-align: right;
    background-color: #d4f1f9;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }
  
  .received {
    text-align: left;
    background-color: #f1f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }
  