<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let message of messages" [ngClass]="{ 'sent': message.senderId === userId, 'received': message.senderId !== userId }">
    <p>{{ message.text }}</p>
    <small>{{ message.timestamp | date: 'short' }}</small>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Escribe un mensaje..." [(ngModel)]="newMessage"></ion-input>
    <ion-button (click)="sendMessage()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>
