<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido, {{ userEmail }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="map" style="height: 100vh; width: 100%;"></div>

  <!-- Botón flotante "+" para abrir el formulario -->
  <button (click)="toggleForm()" class="floating-button">
    +
  </button>

  <!-- Formulario para agregar un pin -->
  <div *ngIf="showForm" class="floating-form">
    <button (click)="toggleForm()" class="close-button">X</button>
    <app-pines></app-pines> <!-- Componente Pines para mostrar el formulario -->
  </div>

</ion-content>
